#################
## Directories
#################

node_modules/
src/
docs/
*.tgz
templates/typescript/node_modules
!templates/typescript/src
templates/javascript/node_modules
!templates/javascript/src
